In [1]:
import pandas as pd
_path = r'D:\4. Programming\ProjectsSoftware\da_study\da_study\data_4\taxi_peru.csv'

In [2]:
df_raw = pd.read_csv(_path,sep=';')
df_raw.columns[df_raw.columns.str.contains('id')]
df_raw.columns
df_raw[['icon','start_type',
       'start_at', 'start_lat', 'start_lon', 'end_at', 'end_lat', 'end_lon',
       'end_state', 'driver_start_lat', 'driver_start_lon', 'arrived_at',
       'source', 'driver_score', 'rider_score']].dtypes
df_raw.select_dtypes(include='number').columns
df_raw.select_dtypes(include='number').apply(pd.to_numeric)

       driver_score  rider_score
0               5.0          5.0
1               NaN          NaN
2               NaN          NaN
3               NaN          NaN
4               4.0          5.0
...             ...          ...
23106           5.0          5.0
23107           NaN          5.0
23108           0.0          0.0
23109           NaN          5.0
23110           NaN          NaN

[23111 rows x 2 columns]

In [7]:
df_raw.isna().sum()
df_raw.dtypes

journey_id                  object
user_id                     object
driver_id                   object
taxi_id                     object
icon                        object
start_type                  object
start_at            datetime64[ns]
start_lat                   object
start_lon                   object
end_at              datetime64[ns]
end_lat                     object
end_lon                     object
end_state                   object
driver_start_lat            object
driver_start_lon            object
arrived_at          datetime64[ns]
source                      object
driver_score               float64
rider_score                float64
dtype: object

In [6]:
df_raw['start_at'] = pd.to_datetime(df_raw['start_at'])
df_raw['end_at'] = pd.to_datetime(df_raw['end_at'])
df_raw['arrived_at'] = pd.to_datetime(df_raw['arrived_at'])