In [1]:
import pandas as pd
import sketch

import start

In [16]:
# df[[]].sketch.ask("Which columns are integer type?")

In [2]:

pd.set_option('display.max_colwidth', None)

start.data_desc

,0,1
0,Hotel,тип отеля (City Hotel или Resort Hotel)
1,Is canceled,бронирование было отменено (1) или нет (0); не отмененное считается успешным
2,Lead time,"количество дней, прошедших между датой бронирования и датой прибытия"
3,Arrival full date,полная дата прибытия
4,Arrival date year,год прибытия
5,Arrival date month,месяц прибытия
6,Arrival date week number,номер недели прибытия
7,Arrival date day of month,день прибытия
8,Stays in weekend nights,"количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле"
9,Stays in week nights,"количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле"
10,Stays total nights,общее число забронированных ночей (сумма двух предыдущих колонок)
11,,None
12,Adults,число взрослых
13,Children,число детей
14,Babies,число младенцев
15,Meal,выбранный тип питания
16,Country,страна происхождения клиента
17,,None
18,Reserved room type,тип зарезервированного номера
19,Assigned room type,тип полученного номера (может отличаться от забронированного)
20,Customer type,тип бронирования
21,Reservation status,"значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину"
22,Reservation status date,дата обновления статуса

In [ ]:
# start.df.iloc[:,:7]

In [3]:
df = start.df
df = df.rename(columns={i:i.lower().replace(" ","_") for i in df.columns})
tasks = {}
df.columns.shape[0]

21

In [4]:
tasks['county_success'] = df.query(
    "is_canceled == 0").country.value_counts()[:5]

In [5]:
tasks['mean_reservered'] = df.groupby('hotel') \
    .agg({"stays_total_nights" : 'mean'}) \
    .round(0)

In [6]:
tasks['assigned & reserved count'] =df[df.assigned_room_type != df.reserved_room_type].shape[0]

In [8]:
tasks["most_popular_month_by_year"] = df \
    .query('arrival_date_year == 2016') \
    .arrival_date_month \
    .value_counts()

In [12]:
tasks["most_popular_month_by_one_year"] = df \
    .query('arrival_date_year == 2016') \
    .arrival_date_month \
    .value_counts()

tasks["most_popular_in_every_year"] = (
    df.groupby(['arrival_date_year',"arrival_date_month"])
    .count()
    .sort_values(by='hotel')
    .groupby(level=0)
    .tail(1)[['is_canceled']]
)
# diamonds.groupby("cut").nth(5)
# tasks["most_popular_in_every_year"] 
# (
#     df.query("is_canceled == 1").
#     groupby(['arrival_date_year',"arrival_date_month"])['hotel']
#     .count()
# )
    # .sort_values(by='hotel')

In [ ]:
df.groupby(['arrival_date_year'],as_index=False) \
    .agg({"arrival_date_month":"count"}).value_counts()

# df.value_count(by="arrival_date_month")

df[['arrival_date_year',"arrival_date_month"]]\
    .groupby(['arrival_date_year',"arrival_date_month"],as_index=False) \
    .agg(m=("arrival_date_month","count")) \
    .sort_values('m',ascending=False)

grouped_df = df.groupby(['arrival_date_year', 'arrival_date_month']).size().reset_index(name='count')

# Find the row with the maximum count for each year
max_count_rows = grouped_df.groupby('arrival_date_year').apply(lambda x: x[x['count'] == x['count'].max()]).index

# Reset the index of the resulting DataFrame
# max_count_rows = max_count_rows.reset_index(drop=True)
max_count_rows
grouped_df = df.groupby(['arrival_date_year', 'arrival_date_month']).size().reset_index(name='count')

# Find the row with the maximum count for each year
max_count_rows = grouped_df.groupby('arrival_date_year')['count'].idxmax()
max_count_rows = grouped_df.loc[max_count_rows]
max_count_rows

In [ ]:
import sketch
df.iloc[:,:7].sketch.ask("в каждом году (arrival_date_year), найти месяц с наибольним (arrival_date_month.value_count()), т.е.arrival_date_year месяц колисетво" )

In [ ]:
tasks['is_canceled in City Hotel'] = df.query \
    ("hotel=='City Hotel' and is_canceled == 1") \
    .groupby(["arrival_date_year","arrival_date_month"],) \
    .count() \
    .sort_values(by=['hotel'],ascending=False) \
        .groupby(level=0).head(1)['hotel']

In [ ]:
df[["adults", "children","babies"]].describe().loc[['mean','std']]

tasks['highest average']  = df[["adults", "children","babies"]].mean().round(2)

In [ ]:
df['babies'] = df["children"] + df["babies"]
babies_uncirtanly = df.groupby('hotel').agg(
    count=('babies','count'),
    mean=('babies','mean')).round(2)

babies_cirtanly = df.query("babies >= 0 and is_canceled==0") \
    .groupby('hotel').agg(
    count=('babies','count'),
    mean=('babies','mean')).round(2)
tasks['with babies preffers'] = babies_uncirtanly,babies_cirtanly

In [ ]:
# df['has_kids'] = 
df['has_kids'] = df['babies'] == True
df.query('has_kids == True').shape[0]

# All

In [ ]:
df_all = start.df.rename(columns={_col:_col.lower().replace(' ','_') for _col in start.df.columns})
df_all.columns,df_all.columns.shape[0]
df_all.dtypes.value_counts()
df_all[df_all.dtypes == 'object']

In [37]:
tasks['assigned & reserved count'] =df[df.assigned_room_type != df.reserved_room_type].shape[0]

In [174]:
tasks["most_popular_month_by_year"] = df \
    .query('arrival_date_year == 2016') \
    .arrival_date_month \
    .value_counts()

In [27]:
tasks["most_popular_month_by_one_year"] = df \
    .query('arrival_date_year == 2016') \
    .arrival_date_month \
    .value_counts()

tasks["most_popular_in_every_year"] = (
    df.groupby(['arrival_date_year',"arrival_date_month"])
    .count()
    .sort_values(by='hotel')
    .groupby(level=0)
    .tail(1)[['is_canceled']]
)
# diamonds.groupby("cut").nth(5)

In [25]:
df_group_size_year_month = df.groupby(
	['arrival_date_year', 'arrival_date_month']) \
	.size() \
	.reset_index(name='count') #agg

max_count_rows = df_group_size_year_month \
    .loc[
        df_group_size_year_month.groupby('arrival_date_year')['count']
        .idxmax()]
max_count_rows

    arrival_date_year arrival_date_month  count
5                2015          September   5114
16               2016            October   6203
25               2017                May   6313

In [107]:
import sketch
df.iloc[:,:7].sketch.ask("в каждом году (arrival_date_year), найти месяц с наибольним (arrival_date_month.value_count()), т.е.arrival_date_year месяц колисетво" )

In [17]:
# df[["adults", "children","babies"]].describe().loc[['mean','std']]

# tasks['highest average']  = df[["adults", "children","babies"]].mean().round(2)
state = {
    'junior' : 0,
    'middle' :2,
    'senior' :5 }
worker = ['Olya', 'Silyutina', 350000, 3]
# status = n_ind if worker[3]>state[_ind]ext(_ind for _ind in state if worker[3]<state[_ind])

status = next('junior' if _ind is None 
              else worker[3]<state[_ind]  for _ind in state)
status

False

In [221]:
df['babies'] = df["children"] + df["babies"]
babies_uncirtanly = df.groupby('hotel').agg(
    count=('babies','count'),
    mean=('babies','mean')).round(2)

babies_cirtanly = df.query("babies >= 0 and is_canceled==0") \
    .groupby('hotel').agg(
    count=('babies','count'),
    mean=('babies','mean')).round(2)
tasks['with babies preffers'] = babies_uncirtanly,babies_cirtanly

In [230]:
# df['has_kids'] = 
df['has_kids'] = df['babies'] == True
df.query('has_kids == True').shape[0]

728