In [29]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns
import plotly.express as psx

In [45]:
DATA_FOLDER = Path(Path.cwd()/'data/')
data_files = [file_ for file_ in DATA_FOLDER.iterdir()]
# pd.read_csv(Path(Path.cwd()/'data/avocado_full.csv'))
# pd.read_csv(data_files[3]).columns
# pd.read_csv(data_files[1],encoding='cp1252').columns

data_dict = {file_.name:pd.read_csv(file_,encoding='cp1252').columns for file_ in DATA_FOLDER.iterdir()}

# Avacado

In [54]:
# 'avocado_full.csv', 'avocado_mean.csv'
df_avocado_full = pd.read_csv(data_files[2])
df_avocado_mean = pd.read_csv(data_files[3],parse_dates=['Date'],index_col='Date')
df_avocado_mean.head()

            AveragePrice
Date
2015-01-04      1.301296
2015-01-11      1.370648
2015-01-18      1.391111
2015-01-25      1.397130
2015-02-01      1.247037

In [70]:
df_avocado_mean['AveragePrice'].rolling(3).mean().max()

1.8493209876543208

In [78]:
budg = 86_262_000_000
mean_pens= 19_435
periods =12
people= 41_775_000

In [80]:
budg/(19_435)/12/people

0.008853954249437697

In [82]:
budg/people/12

172.07660083782164

In [89]:
# https://minfin.gov.ru/ru/document?id_4=80042-kratkaya_ezhemesyachnaya_informatsiya_ob_ispolnenii_federalnogo_byudzheta_mlrd._rub._nakopleno_s_nachala_goda
data = pd.read_clipboard()

In [128]:
import re
len(data.columns)

# data.drop(axis=1,columns='РАЗДЕЛ I').shape
data_raw = data.T
# data_raw['year'] = data_raw.index.str
# data_raw.index.apply(lambda x: re.search('\d\d',x.str)[0],x)
data_raw['header_col']  = data_raw.index
data_raw
# data_raw['year']    =data_raw['header_col'].apply(lambda x: re.match('\d\d',x)[0])
# data_raw.year

,1,1.1.,1.2.,1.2.1.,1.2.1.1.,1.2.1.2.,1.2.1.3.,1.2.1.4.,1.2.2.,1.2.2.1,...,4.1.3.2.,4.1.4.,4.1.5.,4.1.6.,4.1.7.,4.2.,4.2.1.,4.2.2.,4.2.3.,header_col
РАЗДЕЛ I,"Доходы, всего",Нефтегазовые доходы,Ненефтегазовые доходы,Связанные с внутренним производством,НДС (внутренний),Акцизы,Налог на прибыль,Налог на доходы физических лиц,Связанные с импортом,НДС на ввозимые товары,...,возврат,Поступления от продажи акций и земельных участ...,Курсовая разница,Изменение остатков на счетах,Прочее,Источники внешнего финансирования дефицита,Привлечение кредитов и размещение ценных бумаг,Погашение внешнего долга,Другие источники внешнего финансирования,РАЗДЕЛ I
ЯНВ-11,804.9,355.6,449.3,212.0,182.5,21.3,8.2,NaN,100.8,67.4,...,0.3,7.8,-26.3,-401.6,275.7,0.5,0.1,-2.2,2.7,ЯНВ-11
ФЕВ-11,1 505.6,692.3,813.3,329.0,282.2,31.1,15.7,NaN,250.9,166.1,...,0.3,103.7,-83.8,-497.7,272.3,-0.4,0.3,-3.6,2.9,ФЕВ-11
МАР-11,2 392.8,1 134.1,1 258.6,545.0,431.1,46.7,67.1,NaN,443.2,293.2,...,0.5,106.9,-114.3,-653.5,257.7,-20.9,0.3,-26.9,5.7,МАР-11
АПР-11,3 339.7,1 580.6,1 759.1,775.1,604.1,65.1,105.9,NaN,625.3,414.3,...,2.0,113.3,-130.3,-680.3,260.1,-22.7,0.5,-28.8,5.6,АПР-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ЯНВ.23 ***,1 357.0,425.5,931.5,443.0,379.5,133.7,-71.9,1.8,352.2,282.3,...,0.0,0.2,239.5,-1 438.2,2 862.5,-5.7,0.0,0.0,-5.7,ЯНВ.23 ***
ФЕВ.23 ***,3 164.2,946.8,2 217.5,1 290.1,1 059.7,197.5,22.5,10.4,703.1,561.9,...,0.0,0.2,486.4,-137.4,3 449.1,-24.5,0.0,0.0,-24.5,ФЕВ.23 ***
МАР-23,5 678.9,1 634.9,4 044.1,2 420.4,1 769.7,294.3,339.9,16.6,1 158.7,923.4,...,0.0,0.2,909.0,-1 442.3,2 256.4,-52.2,0.0,-13.7,NaN,МАР-23
АПР-23,7 785.1,2 282.3,5 502.8,3 166.5,2 186.7,391.4,560.7,27.7,1 580.9,1 252.1,...,0.0,11.2,1 222.4,-2 187.4,3 465.1,-54.8,0.0,-13.7,NaN,АПР-23
МАЙ.23 **,9 818.0,2 853.0,6 965.0,3 941.3,2 741.4,475.0,688.3,36.5,2 063.1,1 626.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,МАЙ.23 **