In [2]:
import pandas as pd

In [3]:
df_user = pd.read_csv(r"user_data.csv",encoding='utf-8')
df_succses = pd.read_csv(r"logs.csv",encoding='utf-8')
df_taxi_peru = pd.read_csv(r"taxi_peru.csv",sep=';',encoding='cp1251')

In [5]:
# df = pd.read_csv(r"companies.csv",encoding='utf-8',sep=';')
# df
import pprint
from tabulate import tabulate

In [7]:
df_user.describe(),df_user.shape
df_succses.describe(),df_succses.shape
df_succses.dtypes
df_succses.columns

def show_base(df):
    about = {}
    about['desc'] = df.describe().round(2)
    about['types'] = df.dtypes
    about['table'] = print(tabulate(df.head(), tablefmt='fancy_grid'))
    about['size'] = df.shape
    return about
table =   show_base(df_user) 
print(table['desc'] )
table['size']

╒═══╤═══════╤═══════╤════╕
│ 0 │ 46346 │ False │ 58 │
├───┼───────┼───────┼────┤
│ 1 │  4391 │ False │ 55 │
├───┼───────┼───────┼────┤
│ 2 │ 27372 │ False │ 64 │
├───┼───────┼───────┼────┤
│ 3 │ 11989 │ False │ 44 │
├───┼───────┼───────┼────┤
│ 4 │ 60664 │ False │ 49 │
╘═══╧═══════╧═══════╧════╛
         client      age
count   2954.00  2954.00
mean   50767.89    44.20
std    28800.51    14.25
min       40.00    20.00
25%    25639.50    32.00
50%    51569.50    44.00
75%    75963.25    56.00
max    99973.00    69.00

(2954, 3)

In [17]:
import numpy as np

df_user.isnull().count()


df_user[df_user.isnull().any(axis=1)]
df_user.sample(n=10)
# df_succses.drop_duplicates(inplace=True)
# df_user.isna().any()
# code, unique = pd.factorize(df.company,sort=True)
# df_user.isna().any()

      client  premium  age
1322   92124     True   57
1312   96986    False   52
10     61559    False   59
178     8925    False   66
992    69682    False   53
644    99464    False   66
2033   43396    False   68
1189   19881    False   67
2692   64746    False   69
2034   23616    False   61